// Customize the colors of Octoflat Here

$primary-color:      #cb9b74; // Jumbotron, Horizontal Rules, Headings
$secondary-color:    #d6a87d; // Tags, Links, Main Heading, Quote Border
$tertiary-color:     #cb9b74; // Hover-over color, Active Page color
$accent-color1:      #2d3554; // Hover-over background color for tags
$accent-color2:      #765448; // Sub-headings, Date Stamp
$accent-color3:      #ffffff; // Navbar Text, Tag text
$bg-color:           #ffffff; // Background
$navbar-color:       #b03947; // Navbar
$code-bg-color:      #2C3E50; // Code background
$quote-color:        #E74C3C; // Quote Color
$text-color:         #2d3554; // Body Text
$footer-color:       #2d3554; // Footer

